<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= @song.name %>" /> <br /><br />

  <label for="existing_genres">Song Genres</label> <br />
  <% @genres.each do |genre| %>
  <label for="<%= genre.name %>"><%= genre.name %></label>
  <input type="checkbox" name="genre_ids[]" value="<%= genre.id %>" id="<%= genre.name %>"
   <%= 'checked' if @song.genres.include?(genre) %>/> <br />
  <% end %>
<br /><br />


  <label for="existing_artists">Existing Artists</label> <br />
  <% @artists.each do |artist| %>
  <label for="<%= artist.name %>"><%= artist.name %></label>
  <input type="checkbox" name="artist_ids[]" value="<%= artist.id %>" id="<%= artist.name %>"
  <%= 'checked' if @song.artist == artist %> /> <br />
  <% end %>

  <br /><br />
  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist_name" id="artist_name" /> <br />

  <br />
  <input type="submit" id="submit" value="Save" />
</form>
