<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<p><a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name%></a></p>
<% @song.genres.each do |el| %>
  <p><a href="/genres/<%= el.slug %>"><%= el.name %></a></p>
<% end %>
